* {
  font-family: 'Hubballi', cursive;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.Header {
  background-color: aqua;
}

/******************** Fragments *******************************/

.LayoutFragment {
  background-color: red;
}

.Title {
  font-family: 'Hubballi', cursive; 
  font-style: italic;
  font-weight: 100;
  font-size: 48px;
  color: brown;
}

.PlantLogo {
  height: 250px;
  width: 250px;
  margin: 24px;
  
  background-color: yellow;
}

/******************** Cards ***********************************/

.CardsContainer {
  display: flex;
  height: 100%;

  justify-content: center; 
  text-align: left;
  align-items: flex-start;

  background-color: orange;
}

.LayoutFragment h3 {
  background-color: greenyellow;
}

.Card {
  width: 380px;
  height: 350px;
  margin: 32px 6px;

  background-color: purple;
}

.Card img{
  width: 200px;
  height: 150px;
}

.Card h2{
  width: 100%;
}

.Card p{
  width: 100%;
}




.Footer {
  background-color: yellowgreen;
}